@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body {
    font-family: Montserrat;
    color: hsl(200, 19%, 18%);
    background: #ECEFF1;
    font-size: 18px;
}